
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyAcademia | Home</title>
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
           
     <header>
        <nav>
            <div class="logo">
                <a href="">
                    <span class="first-word">Py</span> Academia
                </a>
            </div>
            <div class="menu">
                 <a href="#">Home</a> 
                 <a href="#">Network</a> 
                 <a href="{% url 'feed:feed'%}">Feed</a> 
                 <a href="">Messaging</a>
                

                 
            </div>
            <div class="signup" >
                <a href="{% url 'accounts:signup' %}">Register</a>
            </div>
        </nav>
    </header>
    {% block content %}
    
    {% endblock %}
</body>
</html>