{% extends 'home/base.html' %}
<!-- {% load static %} -->
{% block extra_css %}
<!-- {{ block.super }} -->
<link rel="stylesheet" href="{% static 'home/css/home.css' %}"> 
{% endblock %}


{% block content %}
    <section class="parent-section">
        <div class="left-section">
            <div class="lsec-title">
                <h1>Welcome to your <br> Learning community</h1>
            </div>
            <div class="lsec-form">
                <form action="">
                    <label>Username</label>
                    <input type="text">
                    <label>Password</label>
                    <input type="password">
                    <a class="lsec-forgbtn" href="">Forgot Password</a>
                    <button class="lsec-logbtn" type="submit">Login</button>
                </form>
            </div>
        </div>
        <div class="right-section">
            <div class="rsec-bacimg">
                <img width="100px" height="100px" src="{% static 'home/images/background-img.png' %}" alt="">
            </div>
        </div>
    </section>
    {% endblock %}
    

