<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% if request.user == post_to_update.author  %}
    <form action="{% url 'posts:update_post' post_to_update.id %}" method="post" >
        {% csrf_token %}
        {{form.as_p}}
     <button type="submit">Update Post</button>
    </form>
        {% endif %}
        {% endif %}
    
</body>
</html>